basePath: /api/v1
definitions:
  main.Credentials:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  main.ErrorResponse:
    type: object
host: assignment.snifyak.com
info:
  contact: {}
  description: API Documentation for all the endpoints
  termsOfService: https://example.com/terms/
  title: API_Assignment | Swagger
  version: "1.0"
paths:
  /auth:
    post:
      consumes:
      - application/json
      description: Authenticate user with credentials and generate access token
      parameters:
      - description: User credentials
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/main.Credentials'
      produces:
      - application/json
      responses:
        "200":
          description: JWT token
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Invalid request payload
          schema:
            $ref: '#/definitions/main.ErrorResponse'
        "401":
          description: Invalid credentials
          schema:
            $ref: '#/definitions/main.ErrorResponse'
        "500":
          description: Error generating token
          schema:
            $ref: '#/definitions/main.ErrorResponse'
      summary: Authenticate user and generate access token
      tags:
      - authentication
  /countries:
    get:
      consumes:
      - application/json
      description: Retrieve a list of all countries
      parameters:
      - description: JWT token
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: country data
          schema:
            additionalProperties: true
            type: object
      security:
      - ApiKeyAuth: []
      summary: Retrieve a list of all countries
      tags:
      - countries
  /countries/filter:
    get:
      consumes:
      - application/json
      description: Get a filtered and sorted list of countries based on specified
        parameters
      parameters:
      - description: Filter countries by population.
        in: query
        name: population
        type: integer
      - description: Filter countries by area.
        in: query
        name: area
        type: integer
      - description: Filter countries by language.
        in: query
        name: language
        type: string
      - description: Sort order (asc or desc).
        in: query
        name: sort
        type: string
      - description: Page number for pagination.
        in: query
        name: page
        type: integer
      - description: JWT token
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: paginated list of countries
          schema:
            additionalProperties:
              items:
                type: string
              type: array
            type: object
        "400":
          description: Invalid filter or page parameters
          schema:
            $ref: '#/definitions/main.ErrorResponse'
        "500":
          description: Error fetching or decoding countries data
          schema:
            $ref: '#/definitions/main.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get a filtered and sorted list of countries
      tags:
      - countries
  /country:
    get:
      consumes:
      - application/json
      description: Get detailed information about a specific country
      parameters:
      - description: The name of the country to fetch.
        in: query
        name: name
        required: true
        type: string
      - description: JWT token
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: country data
          schema:
            additionalProperties: true
            type: object
        "400":
          description: 'Error: Please provide a valid country name in the query parameters'
          schema:
            $ref: '#/definitions/main.ErrorResponse'
        "500":
          description: Error fetching country data or decoding country data
          schema:
            $ref: '#/definitions/main.ErrorResponse'
      security:
      - ApiKeyAuth: []
      summary: Get detailed information about a specific country
      tags:
      - countries
swagger: "2.0"
